<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CloudMe Page de création de compte</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
{% block body %}
<body class="hold-transition register-page">
<div class="register-box col-6">
  <div class="register-logo">
    <a href="{{path('app_login')}}"><b>Cloud</b>Me</a>
  </div>

  <div class="card col-12 text-center">
    <div class="card-body register-card-body ml-4 " >
      <p class="login-box-msg">Créer un compte</p>
  
      {{ form_start(registrationForm) }}
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(registrationForm.name) }}
          <div class="input-group-append">
            <div class="input-group-text" >
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        
             <div class="d-flex">
          {{ form_row(registrationForm.first_name) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          </div>
        </div>
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(registrationForm.email) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="d-flex">
          {{ form_row(registrationForm.numero_tel) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
          </div>
        </div>
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(registrationForm.plainPassword) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="d-flex">
        <div>
          <input type="password" class="form-control" placeholder="Vérification du mot de passe" id="verifPwd">
          
          </div>
          
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          </div>
        </div>
        <div class="mb-2">
        <span id="messagePwd"></span>
        </div>
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(registrationForm.adresse) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map"></span>
            </div>
          </div>
        </div>
        <div class="d-flex">
          {{ form_row(registrationForm.pays) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-flag"></span>
            </div>
          </div>
          </div>
        </div>
        <div class="input-group mb-3 justify-content-around">
        <div class="d-flex">
          {{ form_row(registrationForm.ville) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-city"></span>
            </div>
          </div>
        </div>
        <div class="d-flex">
          {{ form_row(registrationForm.codePostal) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-building"></span>
            </div>
          </div>
          </div>
        </div>
      
        <div class="input-group mb-3   d-flex justify-content-center">
          {{ form_row(registrationForm.formeJuridique) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-hand-pointer"></span>
            </div>
          </div>
        </div>
        <div style="display:none;" id="infoEntreprise">
          <div class="input-group mb-3 d-flex justify-content-around" >
          <div class="d-flex">
            {{ form_row(registrationForm.societyName) }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
            </div>
            <div class="d-flex">
            {{ form_row(registrationForm.num_siret) }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-sort-numeric-up-alt"></span>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="row d-flex ">
          <div class="col-8 ">
            <div class="icheck-primary d-flex ml-5"  >
            {{ form_row(registrationForm.agreeTerms) }}
              <label for="agreeTerms">
              
               J'accepte les <a href="#">conditions générales</a>
              </label>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="row mt-2 mb-2  d-flex justify-content-center">
          <div class="col-6">
            <button type="submit" id="buttonRegister" class="btn btn-primary pr-3 pl-3">Valider</button>
          </div>
        </div>
      {{ form_end(registrationForm) }}

      <a href="{{path('app_login')}}" class="text-center ">J'ai déja un compte.</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

<script src="js/register.js"></script>
</body>

</html>
{% endblock %}
