<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="dist/css/style.css" media="all" />

      <h6 class="text-center">FACTURE N°111121901</h6><hr>
      <div class="text-right clearfix" style="font-size:20px" id="company">
        <div>CloudMe</div>
        <div>455 Foggy Heights,<br /> AZ 85004, US</div>
        <div>03 20 20 20 20</div>
        <div><a href="mailto:cloudme@example.com">cloudme@example.com</a></div>
      </div>
      <div class="text-left" style="font-size:18px" id="project">
        <div style="font-size:24px">Information client</div>
        <div><span>CLIENT</span> {{app.user.name}} {{app.user.firstName}}</div>
        <div><span>ADDRESS</span> {{app.user.adresse}},{{app.user.ville}}</div>
        <div><span>EMAIL</span> <a href="mailto:{{app.user.email}}">{{app.user.email}}</a></div>
        <div><span>DATE</span> 11 Décembre, 2019</div>
      </div>
      <table class="table" style="margin-top:150px;font-size:20px; border:solid">
        <thead class="thead-light">
          <tr>
            <th>SERVICE</th>
            <th>HEADLIN</th>
            <th>DATE SOUSCRIPTION</th>
            <th>DATE D'ECHEANCE</th>
            <th>PRIX</th>
          </tr>
        </thead>
          {% for data in service %}
        <tbody>
          <tr>
            <td>{{data.service}}</td>
            <td>{{data.headline}}</td>
            <td>{{data.dateSous}}</td>
            <td>{{data.dateEche}}</td>
            <td>{{data.prix}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      
      <table class="table mt-2" style="width:45%;font-size:18px; border:solid; margin-left:302%">
        <thead class="thead-light">
          <tr>
            <th scope="col">Total HT</th>
            <th scope="col">Taux TVA</th>
            <th scope="col">Total TVA</th>
            <th scope="col">Total TCC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>45€</th>
            <td>20,00%</td>
            <td>7,50€</td>
            <td>52,50€</td>
          </tr>
        </tbody>
      </table>
    <footer>
    </footer>