<link rel="stylesheet" href="dist/css/bootstrap.css" >
<link rel="stylesheet" href="dist/css/style.css" media="all" />

      <p class="flotte">
        <img src="dist/img/logo1.png"/></p>
      <p style="line-height:65px;font-size:26px;margin-left:300px">
        Facture n°{{factureId.numeroFacture}}</p>
        <hr>
      <div style="margin-top:100px;">
        <div class="text-right position-absolute" id="company">
          <div>CloudMe</div>
          <div>455 Foggy Heights,<br /> AZ 85004, US</div>
          <div>03 20 20 20 20</div>
          <div><a href="mailto:cloudme@example.com">cloudme@example.com</a></div>
        </div>
        <div class="text-left" style="font-size:18px" id="project">
          <div style="font-size:24px">Information client</div>
          <div><span>CLIENT</span> {{app.user.name}} {{app.user.firstName}}</div>
          <div><span>ADDRESS</span> {{app.user.adresse}},{{app.user.ville}}</div>
          <div><span>EMAIL</span> <a href="mailto:{{app.user.email}}">{{app.user.email}}</a></div>
          <div><span>Date de facturation:</span> {{factureId.dateEdition | date('d/m/Y')}}</div>
          <div><span>Somme prélevée à partir</span> {{factureId.dateEcheance | date('d/m/Y')}}</div>
        </div>
      </div>
      <table style="margin-top:190px;font-size:20px;">
          <tr>
            <th style="width: 10%">Référence</th>
            <th >Désignation</th>
            <th style="width: 5%">Qte</th>
            <th style="width: 10%">PU HT</th>
            <th style="width: 10%">Total HT</th>
          </tr>
          {% for data in userSub %}
        <tbody>
          <tr>
            <td>{{data.subname | upper}}</td>
            <td>{{data.headline}} du {{data.dateSub | date('d/m/Y')}} au {{data.lastDays | date('d/m/Y')}}</td>
            <td>1</td>
            <td>{{data.price * 1}}€</td>
            <td>{{data.price}}€</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      
      <table style="width:45%;font-size:18px; margin-left:294%;">
          <tr>
            <th scope="col">Total HT</th>
            <th scope="col">Taux TVA</th>
            <th scope="col">Total TVA</th>
            <th scope="col">Total TTC</th>
          </tr>
        <tbody>
           <tr>
            <td>{{totalPrice}}€</td>
            <td>20,00%</td>
            <td>{{totalPrice * tva.taux}}€</td>
            <td>{{totalPrice * (tva.taux + 1)}}€</td>
          </tr> 
        </tbody>
      </table>
    <footer>
    Invoice was created on a computer and is valid without the signature and seal.
    </footer>