
  <!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

    <!-- /.content-header -->
   <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <h1 class="text-center"> Bonjour {{app.user.name}} {{app.user.firstName}}</h1>
        <hr>
        {% if souscription %}
        {% for data in service %}
      <div class="row mt-4 justify-content-center text-right">
          <div class="col-12 col-sm-4 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-cog"></i></span>
              <div class="info-box-content">
                <span class="info-box-text text-center">CPU(Global)</span>
                <span class="info-box-text">Capacité</span>
                <span class="info-box-number">
                  {{data.CPU}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-4 col-md-3">
            <div class="info-box mb-4">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-memory"></i></span>

              <div class="info-box-content">
                <span class="info-box-text text-center">RAM (Global) </span>
                <span class="info-box-text">Capacité</span>
                <span class="info-box-number">12/{{data.RAM}}GB</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-4 col-md-3">
            <div class="info-box mb-4">
              <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-hdd"></i></span>

              <div class="info-box-content">
                <span class="info-box-text text-center">Disque(Global)</span>
                <span class="info-box-text">Capacité</span>
                <span class="info-box-number">
                  {{data.Disque}}/15TO
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
      </div>
      {% endfor %}
      <div class="col-md-9 mr-auto ml-auto">
        <table class="table table-head-fixed table-striped table-hover table-bordered table-sm">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Headline</th>
                      <th>Type</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for allSub in souscription %}
                    <tr class="tabAccueil" data-id="{{ allSub.id }}" data-class="{{ allSub.type }}" style="cursor: pointer">
                      <td>{{ allSub.name }}</td>
                      <td>{{ allSub.headline }}</td>
                      <td>{{ allSub.type }}</td>
                      <td>{{ allSub.status }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
            <h1 class="text-center">Vous n'avez souscris à aucun service</h1>
            {% endif %}
          <!-- ./col -->
  <script src='js/Nav.js'></script>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
</script>
