
{% for data in info %}
    <h3 class="lead text-center mb-1"> Données du service : {{ data.headline }}</h3>
    <h4 class="lead text-center mb-4"> Coût de la configuration : <strong>{{ data.price }}€/mois</strong></h4>
    {% if data.status != 0 %}
      <div  id="subFin" class="alert alert-danger col-md-4 offset-md-4 mb-2" >
        Votre abonnement a ce service s'arrete le {{ data.dateFin | date('d/m/Y')}}
      </div>
      {% endif %}
        <div id="finSub" class="alert alert-danger col-md-4 offset-md-4 mb-2" style="display: none;">
        
      </div>
    <div class="container ">
    <div class="row custyle">
    <div class="col-md-12 table-responsive mb-5">
    <table class="table table-striped custab mx-auto" style="width:90%">
    <thead> 
    
        <tr>
            {% if retention %}
              <th></th>
            {% endif %}
            <th>Nom</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Espace disque</th>
            <th>Protection</th>
            <th>Replication</th>
            <th>Backup</th>
            <th>IP</th>
            <th>Status</th>
          
            
            <th class="">Options</th>
        </tr>
    </thead>
            <tr>
                {% if retention %}
                    <td id="imgRetention">
                    <img  title="voir les sauvegardes de données"src="https://img.icons8.com/flat_round/24/000000/plus.png">
                    </td>
                {% endif %}
                <td>{{ data.name }}</td>
                <td>{{data.cpu}}</td>
                <td>{{ data.ram }}</td>
                <td>{{ data.space }}</td>
                <td><i id="protection"></i></td>
                <td><i id="replication"></i></td>
                <td>{{data.backup}}</td>
                <td>{{data.ip}}</td>
                <td>Running</td>

                <td class="text-center">
                <a class='btn btn-success btn-xs pl-2 pr-2' title="Lancer le serveur"href="#"><span class="fas fa-play"></span></a> 
                <a href="#" title="Arreter le serveur"class="btn btn-danger btn-xs pl-2 pr-2"><span class="fas fa-stop"></span></a>
                <div class="btn-group dropup">
                        <a class='btn btn-warning btn-xs pl-2 pr-2 ' data-toggle="dropdown"  title="Options"href="#"><i class="fa fa-caret-up"  style="color:white;"></i></a>
                        <div class="dropdown-menu ">
                             <a class='btn btn-info btn-xs pl-2 pr-2 ml-4'   id="desktop" title="Ouvrir la console"><i class="fas fa-desktop"  style="color:white;"></i></a>
                             <a class='btn btn-primary btn-xs pl-2 pr-2 ml-2'   title="Options"href="#"><i class="fas fa-cog "  style="color:white;"></i></a>
                             
                             <a class='btn btn-dark btn-xs pl-2 pr-2 ml-2'   title="Options"href="#"><i class="fas fa-cog "  style="color:white;"></i></a>
                             
                        </div>
                          
                </div>
                {% if data.status == 0 %}
                <a class='btn btn-danger btn-xs pr-2 pl-2 ' data-target="unsubUser" data-id="{{ data.id }}" id="unSub" title="Se désabonner"  style="color: #FFF" href="#"><i class="fas fa-trash"></i></a>
                 {% else %}
                <a class='btn  btn-xs pr-2 pl-2 btn-primary' data-target="reSubUser" data-id="{{ data.id }}" id="reSub" title="Se réabonner"  style="color: #FFF" href="#"><i class="fas fa-redo"></i></a>            
                  {% endif %}
                </td>
            </tr>
          </table>
            <table class="table table-striped custab mx-auto saveTab" style="width:90%;display: none">
              <thead>
                <tr>
                  <th>Snapshot</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Server</td>
                  <td>17/11/2019</td>
                  <td><a class='btn btn-success btn-xs pl-2 pr-2' title="Récuperer cette sauvegarde"href="#"><span class="fas fa-undo-alt"></span></a>
                      <a class='btn btn-danger btn-xs pl-2 pr-2' title="Supprimer cette sauvegarde"href="#"><span class="fas fa-trash"></span></a></td>
                </tr>
                <tr>
                  <td>Server</td>
                  <td>17/11/2019</td>
                  <td><a class='btn btn-success btn-xs pl-2 pr-2' title="Récuperer cette sauvegarde"href="#"><span class="fas fa-undo-alt"></span></a>
                      <a class='btn btn-danger btn-xs pl-2 pr-2' title="Supprimer cette sauvegarde"href="#"><span class="fas fa-trash"></span></a></td>
                </tr>
                <tr>
                  <td>Server</td>
                  <td>17/11/2019</td>
                  <td><a class='btn btn-success btn-xs pl-2 pr-2' title="Récuperer cette sauvegarde"href="#"><span class="fas fa-undo-alt"></span></a>
                      <a class='btn btn-danger btn-xs pl-2 pr-2' title="Supprimer cette sauvegarde"href="#"><span class="fas fa-trash"></span></a></td>
                </tr>
                <tr>
                  <td>Server</td>
                  <td>17/11/2019</td>
                  <td><a class='btn btn-success btn-xs pl-2 pr-2' title="Récuperer cette sauvegarde"href="#"><span class="fas fa-undo-alt"></span></a>
                      <a class='btn btn-danger btn-xs pl-2 pr-2' title="Supprimer cette sauvegarde"href="#"><span class="fas fa-trash"></span></a></td>
                </tr>
              </tbody>
            </table> 
        </div>
      </div>
    </div>
     <div id="stockage" style="display:none;">
        <span id="cpu">{{ data.cpu }}</span>
        <span id="ram">{{ data.ram }}</span>
        <span id="space">{{ data.space }}</span>
        <span id="prot">{{ data.protection }}</span>
        <span id="repli">{{ data.replication }}</span>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
        <h4>CPU</h4>
        
        <canvas id="fromageCpu"></canvas>
        </div>
         <div class="col-md-4 col-sm-12 text-center">
         <h4>RAM</h4>
      
        <canvas id="fromageRam"></canvas>
        </div>
         <div class="col-md-4 col-sm-12 text-center">
         <h4>Espace disque</h4>
       
        <canvas id="fromageEspace"></canvas>
        </div>
     
</div>
{% endfor %}
<script>
$(document).ready(function(){
  $("#imgRetention").click(function(){
    $(".saveTab").show(1000);
  });
});
</script>
<script src="js/camembert.js"></script>