<table class="table table-striped mx-auto" style="width:90%">
  <thead>
    <tr>
      <th scope="col-sm-3">N° commande</th>
      <th scope="col-sm-3">Date</th>
      <th scope="col-sm-3">Type de paiement</th>
      <th scope="col-sm-3">Etat</th>
      <th scope="col-sm-3">Total TTC</th>
      <th scope="col-sm-3">Export</th>
    </tr>
  </thead>
  {% for data in service %}
  <tbody>
    <tr>
      <th>{{data.commande}}</th>
      <td>{{data.date}}</td>
      <td>{{data.type}}</td>
      <td>{% if data.etat == "Payé" %}
      <span class="badge badge-success">
      {% else %}
      <span class="badge badge-warning">
      {% endif %}
      {{data.etat}}</span></td>
      <td>{{data.total}}</td>
      <td><a href="{{path('facture')}}">
        <i class="fas fa-file-pdf"></i> PDF
        </a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>