<table class="table table-striped mx-auto" style="width:90%">
  <thead>
    <tr>
      <th scope="col-sm-3">N°facture</th>
      <th scope="col-sm-3">Date édition</th>
      <th scope="col-sm-3">Type de paiement</th>
      <th scope="col-sm-3">Etat</th>
      <th scope="col-sm-3">Total TTC</th>
      <th scope="col-sm-3">Export</th>
    </tr>
  </thead>
  {% for facture in userFacture %}
  <tbody>
    <tr>
      <th>{{facture.numeroFacture}}</th>
      <td>{{facture.dateEdition | date('d/m/Y')}}</td>
      <td>CB</td>
      <td>{% if facture.etat == "Payé" %}
      <span class="badge badge-success">
      {% elseif facture.etat == "En attente" %}
      <span class="badge badge-warning">
      {% else %}
      <span class="badge badge-danger">
      {% endif %}
      {{facture.etat}}</span></td>
      
      <td>{{facture.price * (tva.taux + 1) }}€</td>
      <td><a href="{{path('facture', {'id':facture.id}) }}">
        <i class="fas fa-file-pdf"></i> PDF
        </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

