<div class="col-md-6" style="margin-left: auto; margin-right: auto;">
  <div class="card text-center">
  
           <div id="price" style="display:none">
           {% for data in price %}
            <span id="price_{{ data.id }}">{{ data.price }}</span>
            <p id="unit">{{ data.unit }}</p>
            {% endfor %}

            
           </div>

      
   <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Custom Elements</h3>
              </div>
              <!-- /.card-header -->
             
              <div class="card-body">
                {{ form_start(subscriptionForm)}}
                 
                   
                  
                  <div class="row ">
                    <div class="col-md-8 ml-auto mr-auto">
                    
                        <div id="page1">
                            <div class="form-group">
                              {{ form_label(subscriptionForm.cpu) }}
                              {{ form_widget(subscriptionForm.cpu,{'attr': {'class': 'custom-range custom-range-danger'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_label(subscriptionForm.ram) }}
                              {{ form_widget(subscriptionForm.ram,{'attr': {'class': 'custom-range custom-range-info'}}) }}
                            </div>
                            <div class="form-group">
                              {{ form_label(subscriptionForm.disk_space) }}
                              {{ form_widget(subscriptionForm.disk_space,{'attr': {'class': 'custom-range custom-range-success'}}) }}
                            </div>
                             <div class="d-flex">
                                {% if liste %}
                                    <select class="custom-select mb-3 form-group" name="serveur">
                                    {% for info in liste %}
                                      <option value="{{ info.id }}">{{ info.headline }}</option>
                                    {% endfor %}
                                    </select>
                                  {% endif %}
                                </div>
                            <button data-target="page2" class="btn btn-primary pr-3 pl-3 tabNav">Suivante</button>
                        </div>
                    </div>
                  </div>
                
                 <div class="row">
                
                    <div class="col-md-8 ml-auto mr-auto">
                       <div id="page2" style="display:none">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox">
                                {{ form_label(subscriptionForm.high_availability, 'Haute disponibilité', {'label_attr': {'class': 'form-check'}}) }}
                              {{ form_widget(subscriptionForm.high_availability, {'attr': {'class': 'custom-control', 'id': 'HA'}}) }}
                            </div>
                          
                        </div>
                        <div class="form-group">
                          {{ form_label(subscriptionForm.IP,'IP') }}
                          {{ form_widget(subscriptionForm.IP, {'attr': {'class': 'custom-select'}})}}
                          </div>
                          <div class="form-group">
                            
                            {{ form_label(subscriptionForm.backup) }}
                            {{ form_widget(subscriptionForm.backup, {'attr': {'class': ''}} ) }}
                  
                          </div>
                          <div class="row mt-2 mb-2  d-flex justify-content-center">
                            <div class="col-6">
                              <button data-target="page1" class="btn btn-primary pr-3 pl-3 tabNav">Précédente</button>
                            </div>
                              <div class="col-6">
                                <button type="submit" class="btn btn-primary pr-3 pl-3">Valider</button>
                              </div>
                          </div>
                       </div>
                    
         
                    </div> 
               
          
                {{ form_end(subscriptionForm)}}
              </div>
              <!-- /.card-body -->
            </div>
<script src="js/tabNav.js"></script>