<div class="card text-center">
  <div class="card-header">
    <h1>Configure ton {{ choix }}</h1>
  </div>
  <div class="card-body">
        {{ form_start(subscriptionForm) }}
        <div id="page1">
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.cpu) }}
          </div> 
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.ram) }}
          </div>
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.disk_space) }}
          </div>
          <div>
          {% if liste %}
            <select class="custom-select" name="serveur">
            {% for info in liste %}
              <option value="{{ info.id }}">{{ info.headline }}</option>
            {% endfor %}
            </select>
          {% endif %}
        </div>
          <button data-target="page2" class="btn btn-primary pr-3 pl-3 tabNav">Page Suivante</button>
        </div>
        <div id="page2">
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.high_availability) }}
          </div>
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.IP) }}
          </div>
          <div class="input-group mb-3">
            {{ form_row(subscriptionForm.backup) }}
          </div>
          <button data-target="page1" class="btn btn-primary pr-3 pl-3 tabNav">Page Précédente</button>
          <button type="submit" id="boutonSub" class="btn btn-primary pr-3 pl-3">Confirmer</button>
        </div>
          {{ form_end(subscriptionForm) }}
      
  </div>

</div>
 {# {% for info in allvps %}

  <option value="{{ info.architecture }}"></options>
{% endfor %} #}
<script src="js/tabNav.js"></script>