<div class="register-box  col-12" style="margin-left: auto; margin-right: auto;">
  <div class="card col-lg-12 col-12 text-center">
    <div class="card-header">
      <h1>Configuration de {{ choix }}</h1>
    </div>
    <div class="card-body ml-4 " >
    {{ form_start(subscriptionForm) }}
    <div id="page1">
    <h3>Etape 1</h3>
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(subscriptionForm.cpu) }}
        </div>
        <div class="d-flex">
          {{ form_row(subscriptionForm.ram) }}
          </div>
        </div>
        <div class="input-group mb-3 d-flex justify-content-around">
        <div class="d-flex">
          {{ form_row(subscriptionForm.disk_space) }}
        </div>
        <div class="d-flex">
        {% if liste %}
            <select class="custom-select mb-3 form-group" name="serveur">
            {% for info in liste %}
              <option value="{{ info.id }}">{{ info.headline }}</option>
            {% endfor %}
            </select>
          {% endif %}
        </div>
        </div>
        <button data-target="page2" class="btn btn-primary pr-3 pl-3 tabNav">Suivante</button>
        </div>
        <div id="page2">
        <h3>Etape 2</h3>
          <div class="input-group mb-3 d-flex justify-content-around">
            <div class="d-flex">
              {{ form_row(subscriptionForm.high_availability) }}
            </div>
            <div class="d-flex">
              {{ form_row(subscriptionForm.IP) }}
          </div>
        </div>
          <div class="input-group mb-3 d-flex justify-content-around">
            <div class="d-flex">
              {{ form_row(subscriptionForm.backup) }}
            </div>
          </div>
        <!-- /.col -->
        <div class="row mt-2 mb-2  d-flex justify-content-center">
          <div class="col-6">
            <button data-target="page1" class="btn btn-primary pr-3 pl-3 tabNav">Précédente</button>
          </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary pr-3 pl-3">Valider</button>
          </div>
          {{ form_end(subscriptionForm) }}
        </div>
        </div>
    </div>
  </div>
</div>

<script src="js/tabNav.js"></script>