
<table class="table mx-auto" style="width:40%; border: 1px solid">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">Achitecture</th>
      <th scope="col">Description</th>
      <th scope="col">Headline</th>
      {# <th scope="col">Location</th> #}
      <th scope="col">OS</th>
      <th scope="col">Package</th>
      <th scope="col">Section</th>
      <th scope="col">Template</th>
      <th scope="col">Type</th>
      <th scope="col">Version</th>
    </tr>
  </thead>
  {% for info in allvps %}
  <tbody>
    <tr>
      <td>{{ info.architecture }}</td>
      <td>{{ info.description }}</td>
      <td>{{ info.headline }}</td>
      {# <td><a href="{{ info.location }}">Lien</a></td> #}
      <td>{{ info.os }}</td>
      <td>{{ info.package }}</td>
      <td>{{ info.section }}</td>
      <td>{{ info.template }}</td>
      <td>{{ info.type }}</td>
      <td>{{ info.version }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
  <div class="pagination justify-content-center">
  {{ knp_pagination_render(allvps) }}
</div>