

<div class="col-10 ml-auto mr-auto">

<i id="loupeDisplay" class="fas fa-search mt-2 mb-2" aria-hidden="true"></i>
    <table class="table table-responsive table-sm table-striped table-hover ">
    <thead>
        <tr id="liste">
            <th scope="col" data-search="headline">headline</th>
            <th scope="col" data-search="OS">OS</th>
            <th scope="col" data-search="package">package</th>
            <th scope="col" data-search="section">section</th>
            <th scope="col" data-search="type">type</th>
            <th scope="col" data-search="version">version</th>
            <th scope="col">disponible</th>
            <th scope="col" data-search="service_type">Type de service</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr id="{{ service.Id }}">
                <td>{{ service.headline }}</td>
                <td>{{ service.os }}</td>
                <td>{{ service.package }}</td>
                <td>{{ service.section }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.available }}</td>
                <td>{{ service.serviceType }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{ knp_pagination_render(services) }}
</div>

<script src="js/pagination.js"></script>
