<div class="col-10 ml-auto mr-auto">

<i id="loupeDisplay" class="fas fa-search mt-2 mb-2" aria-hidden="true"></i>
    <table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
        <tr id="liste" >
            <th scope="col" >Utilisateur</th>
            <th scope="col" data-search="email">email</th>
            <th scope="col" data-search="cpu">CPU</th>
            <th scope="col" data-search="ram">RAM</th>
            <th scope="col" data-search="disk_space">Espace disque</th>
            <th scope="col" data-search="date_sub">Date debut</th>
            <th scope="col" data-search="date_fin">Date de fin</th>
            <th  scope="col" data-search="sub_name">Nom</th>
            <th scope="col" data-search="price">Prix €/mois</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for sub in subscriptions %}
            <tr id="{{ sub.id }}">
                <td>{{ sub.name }} {{ sub.firstName}}</td>
                 <td>{{ sub.email }}</td>
                <td>{{ sub.cpu }}</td>
                <td>{{ sub.ram }}</td>
                <td>{{ sub.space }}</td>
                <td>{{ sub.dateSub }}</td>
                <td class="dateUnSub">{{ sub.dateFin }}</td>
                <td>{{ sub.subName }}</td>
                <td>{{ sub.price }}</td>
                 <td class="text-center ">
                 {% if sub.status == 0 %}
                    <a class='btn btn-danger btn-xs pr-2 pl-2 unsub' data-target="unsub" data-id="{{ sub.id }}"title="Désactiver la souscription"  style="color: #FFF" href="#"><i class="fas fa-trash"></i></a>
                {% else %}
                    <a class='btn btn-primary btn-xs pr-2 pl-2 resub' data-target="reSub" data-id="{{ sub.id }}"title="Réactiver la souscription"  style="color: #FFF" href="#"><i class="fas fa-redo"></i></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{ knp_pagination_render(subscriptions) }}
</div>

<script src="js/pagination.js"></script>

