<div class="col-10 ml-auto mr-auto">
    <table class="table table-responsive table-sm table-striped table-hover table-bordered">
    <thead>
        <tr>
        <th scope="col">Headline</th>
        <th scope="col">Description</th>
        <th scope="col">OS</th>
        <th scope="col">Package</th>
        <th scope="col">Section</th>
        <th scope="col">Template</th>
        <th scope="col">Type</th>
        <th scope="col">Version</th>
        <th scope="col">DIsponible</th>
        <th scope="col">Type de service</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}
            <tr id="{{ service.Id }}">
                <td>{{ service.headline }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.os }}</td>
                <td>{{ service.package }}</td>
                <td>{{ service.section }}</td>
                <td>{{ service.template }}</td>
                <td>{{ service.type }}</td>
                <td>{{ service.version }}</td>
                <td>{{ service.available }}</td>
                <td>{{ service.serviceType }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {{ knp_pagination_render(services) }}
</div>

<script src="js/pagination.js"></script>
